@charset "UTF-8";
/* CSS Document */

body {
	margin: 0;
	padding: 0;
	font-family: 'Merriweather', serif;
	font-size: 15px;
	color: #17181A;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: black;
}
h1 { font-size: 38px; }
h2 { font-size: 32px; }
h3 { font-size: 28px; }
h4 { font-size: 24px; }
h5 { font-size: 20px; }
h6 { font-size: 18px; }

a,
a:link, 
a:visited {
	color: #082150;
	text-decoration: none;
}
a:hover {
	color: #754300;
}
a:active {
	color: #888;
}

::selection {
	background: #754300;
	color: #FFF;
}

img {
	vertical-align: bottom;
}

.negative {
	color: #FFF;
}
.negative h1,
.negative h2,
.negative h3,
.negative h4,
.negative h5,
.negative h6 {
	color: #FFF;
}
.negative a:link,
.negative a:visited {
	color: #69ABDC;
	text-decoration: underline;
}
.negative a:hover {
	color: #FFF;
}


a.bttn:link,
a.bttn:visited {
	display: inline-block;
	background: BLACK;
	color: #FFF;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1px;
	padding: 8px 10px;
	border-radius: 2px;
}
a.bttn:hover {
	background: rgba(8,33,80,0.8);
}
a.bttn:active {
	background: rgba(8,33,80,0.6);
}


.negative a.bttn:link,
.negative a.bttn:visited {
	background: GREEN;
	color: black;
	text-decoration: none;
}
.negative a.bttn:hover {
	background: white;
}


.wrapper {
	width: 1140px;
	margin: 0 auto;
}

#header {
	background: black;
	color: white;
	padding: 25px 0;
}
#header > .wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#slogan p {
	margin: 0;
}
#logo img {
	width: 250px;
}
#socials a.bttn {
	font-size: 12px;
}

#nav {
	background: red;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
#nav > .wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
}
#nav ul li a {
	display: block;
	padding: 20px;
	height: 20px;
	line-height: 20px;
}
#nav ul li a:link,
#nav ul li a:visited {
	color: #17181A;
	text-decoration: none;
}
#nav ul li a:hover {
	background:black;
	color: #FFF;
}
#nav ul li a:active {
	background: rgba(8,33,80,0.6);
}
#nav ul li a.current {
	background: red;
	color: white;
}

#hero {
	background-image: url(images/hero.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	padding: 220px 0;
	text-align: center;
}
#hero h2 {
	font-size: 50px;
}

.hero-others {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	padding: 30px 0;
	text-align: right;
}
.hero-about 	{	background-image: url("images/commons-wikimedia-org.jpg"); }
.hero-contact 	{	background-image: url(images/hero-contact.jpg); }

.hero-others-text {
	font-size: 100px;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
	color: rgba(255,255,255,0.6);
	text-transform: uppercase;
	letter-spacing: 4px;
}

#promotion {
	background: red;
	padding: 50px 0;
}
#promotion > .wrapper {
	display: flex;
	justify-content: space-between;
}
#promotion .promotionText {
	flex-basis: 600px;
}
#promotion .promotionImg {
	flex-basis: 500px;
	margin: 0;
}

#products {
	background: red;
	padding: 50px 0;
	text-align: center;
}
#products-container {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}
#products-container > .product {
	background: green;
	flex-basis: 220px;
	padding: 15px;
}
#products-container > .product h1 {
	font-size: 30px;
}
#products-container > .product figure {
	margin: 0;
}

#central {
	padding: 50px 0;
	background: green;
	color: white
}
#central > .wrapper {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}

#main {
	flex-basis: 800px;
}
#sidebar {
	flex-basis: 300px ;
}

#footer {
	background: black;
	padding: 20px 0;
	font-size: 13px;
	font-family: 'Montserrat', sans-serif;
}
#footer > .wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#nav-search > * {
	box-sizing: border-box;
}
#nav-search input[type="text"] {
	width: 200px;
	height: 40px;
	padding: 2px 10px;
	border: 3px solid #CCC;
	font-size: 16px;
}
#nav-search input[type="button"] {
	height: 40px;
	border: none;
	background: #082150;
	color: #FFF;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1px;
	padding: 8px 10px;
	border-radius: 2px;
}
#nav-search input[type="button"]:hover {
	background: rgba(8,33,80,0.8);
}



#contact-form {
	background: #EEE;
	padding: 20px;
}
#contact-form h2 {
	margin-top: 0;
}
#contact-form > * {
	box-sizing: border-box;
}
#contact-form input[type="text"],
#contact-form textarea {
	display: block;
	width: 100%;
	padding: 10px;
	margin: 0 0 10px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 18px;
	border: 1px solid #999;
}
#contact-form textarea {
	height: 300px;
}
#contact-form input[type="submit"],
#contact-form input[type="reset"] {
	height: 40px;
	border: none;
	background: #082150;
	color: #FFF;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1px;
	padding: 8px 10px;
	border-radius: 2px;
}
#contact-form input[type="submit"]:hover,
#contact-form input[type="reset"]:hover {
	background: rgba(8,33,80,0.8);
}


#contact-map {
	margin: 40px 0;
}

#contact-map > iframe {
	width: 800px;
	height: 400px;
}




















